{% extends 'forms/base_form.html' %}

{% from 'macros/form_error.html' import error %}

{% block form_content %}
    <div class="flex flex-col items-center justify-center">
        <!-- Modal header -->
        <div class="flex flex-col items-center justify-center px-4 md:p-5  rounded-t w-full gap-3">
            <h3 class="text-2xl font-montserrat font-semibold  text-gray-900">
                Forgot Password
            </h3>

            <p class="text-center text-sm leading-5">
                Enter the email associated with your account 
                and we will send an email instruction to reset your password
            </p>
        </div>
        <form novalidate
              class="font-montserrat space-y-8 w-full px-4"
              action=""
              method="post">
            {{ form.hidden_tag() }}

            {% set form_label_style = "text-fdt-grey-darker  text-base font-medium" %}
            {% set form_input_style = "p-3  border-1 border-fdt-grey-darker placeholder:text-fdt-grey-dark placeholder:text-base rounded-md w-full text-base bg-inherit focus:outline-1" %}

            <p>
                {{ form.email.label(class=form_label_style) }}
                {{ form.email(class=form_input_style, placeholder="iamuser") }}
                {% for msg in form.email.errors %}
                    {{ error(msg) }}
                {% endfor %}
            </p>

            <div class="flex flex-col gap-y-3">
                <p>
                    {{ form.submit(class="bg-[#8B4513] text-white rounded-lg border-0 text-base hover:opacity-90 active:opactiy-100 focus:outline-0  w-full font-semibold  grid place-content-center md:w-1/2 py-3 hover:bg-[#8B4413] active:bg-[#8B4513] transition-colors") }}
                </p>
    
                <a href="/"
                    class="bg-inherit text-fdt-brown-normal rounded-lg active:border-1 underline border-fdt-brown-normal text-base  focus:outline-1  w-full font-semibold  grid place-content-center md:w-1/2 py-3  active:border-[#8B4513] transition-colors">
                    Cancel
                </a>
            </div>
        </form>
    </div>

{% endblock %}
