{% extends 'base.html' %}

{% from 'macros/sidebar_link.html' import sidebar_link %}
{% from 'partials/bottom_sheet.html' import bottom_sheet %}

{% block sidebar %}

    {% include 'partials/sidebar.html' %}

{% endblock %}

{% macro profile_info(title, value, svg) %}
    <div class="flex flex-col gap-1 w-full text-fdt-grey-darker font-montserrat border-b-1 border-fdt-grey-normal">
        <p class="font-medium">
            {{ title }}
        </p>
        <span class="flex justify-between items-center p-2  w-full">
            {{ value }}
        </span>
    </div>
{% endmacro %}

{% block content %}
    <div x-data="{mOpen: false, isOpen: false}"
         x-bind:class="{ 'bg-black': mOpen }"
         class="absolute left-0 right-0 top-16 bottom-0 gap-y-6 flex flex-col pt-4  bg-opacity-30 transition duration-300 ease-in-out ">
        <header class="relative mx-3 flex justify-center items-center">

            <span x-data
                  x-on:click="window.history.back()"
                  class="left-0 top-0 absolute flex items-center justify-center text-fdt-grey-dark">
                <svg class="w-6 h-6 text-black"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="34"
                     height="34"
                     fill="none"
                     viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 12h14M5 12l4-4m-4 4 4 4" />
                </svg>
            </span>
            <p class="my-8 uppercase relative after:absolute after:bg-[#FF3E30] after:content-[''] after:w-2 after:h-2 after:rounded-full after:right-1 after:top-1 font-bold text-4xl bg-[#D69203] text-white rounded-full w-16 h-16 grid place-content-center">
                {{ current_user.username[0] }}
            </p>

            <p class="absolute bottom-0 font-montserrat text-base">
                {% if current_user.first_name and current_user.last_name %}
                        {{current_user.first_name + ' ' +  current_user.last_name}} 
                {% endif %}
            </p>
            <span 
                  x-on:click="isOpen = !isOpen;"
                  hx-get="/user/edit_profile"
                  hx-target="#profile"
                  class="right-0 gap-x-2 top-0 absolute flex items-center justify-center text-fdt-grey-darker">
                <span x-text="!isOpen ? 'edit': ''" class="underline"></span>
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="20"
                     height="20"
                     x-show="!isOpen"
                     viewBox="0 0 18 18"
                     fill="none">
                    <path d="M15.1123 5.95503L6.20978 14.8575C5.41478 15.66 3.03728 16.0275 2.45978 15.495C1.88228 14.9625 2.30227 12.585 3.09727 11.7825L11.9998 2.88005C12.4109 2.48856 12.9587 2.27328 13.5263 2.28019C14.0939 2.28711 14.6363 2.51568 15.0377 2.91708C15.4391 3.31848 15.6677 3.86091 15.6746 4.42852C15.6816 4.99614 15.4663 5.54397 15.0748 5.95503H15.1123Z" stroke="#6E6E6E" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M15.75 15.75H9" stroke="#6E6E6E" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </span>
        </header>
        <form novalidate
              id="profile"
              class="font-montserrat gap-y-4  rounded-lg mx-[18px] flex flex-col">
            {{ profile_info('Username', current_user.username, 'icons/user.svg') }}
            {{ profile_info('Email', current_user.email, 'icons/email.svg') }}
            {{ profile_info('Phone', current_user.phone_no, 'icons/phone.svg') }}

            <div class="flex flex-col gap-1 w-full text-fdt-grey-darker font-montserrat border-b-1 border-fdt-grey-normal">
                <p class="font-medium">
                    Password
                </p>
                <p class="flex">
                    <span class="flex justify-between items-center p-2  w-full font-medium">
                        **********
                    </span>

                    <span 
                    
                    class="font-Roboto underline">Change</span>
                </p>
            </div>
        </form>


        <div x-on:click="mOpen = !mOpen"
             hx-get="/user/measurements"
             hx-target="#user-measurements"
             x-show="!isOpen"
             class="drop_shadow flex justify-between items-center font-montserrat text-fdt-grey-darker font-medium p-5 gap-y-4 shadow rounded-lg mx-4  bg-white">
            <span> Measurements</span>
            <span class="font-Roboto text-base font-normal underline">View</span>
        </div>

        {% set m_body %}
            <div id="user-measurements">
            </div>
        {% endset %}

        {{ bottom_sheet(title="Measurements", m_body=m_body) }}

    </div>
{% endblock %}
