

{% from "macros/button.html" import button %}

{% from 'macros/sidebar_link.html' import sidebar_link   %}
<aside id="sidebar"
       x-data=""
       x-show="$store.sidebar.isOpen"
       x-transition
       x-transition.scale.orgin.left.top
       class="fixed top-14 left-0 z-40 w-full transition-transform h-screen sm:translate-x-0"
       aria-label="Sidebar">
    <div class="bg-[#F8F8F8] h-full overflow-y-auto  px-3 py-1 top-14 border flex flex-col gap-y-6"
         x-show="true">
        {% if not current_user.is_anonymous %}
        <a href="/user/me">
            <header class="flex items-center justify-between mt-3 bg-inherit px-4 py-3 rounded-lg">
                <div class="flex items-center gap-x-4">
                    <p class="uppercase relative after:absolute after:bg-[#FF3E30] after:content-[''] after:w-2 after:h-2 after:rounded-full after:right-1 after:top-1 font-bold text-3xl bg-[#D69203] text-white rounded-full w-14 h-14 grid place-content-center">
                        {{current_user.username[0]}}
                    </p>
                    <div class="flex flex-col font-semibold gap-y-1">
                        <h3 class="text-2xl font-medium capitalize">
                            Hi, {{ current_user.username }}
                        </h3>
                        <span class="text-[#A8A8A8] font-normal text-sm">Welcome back</span>
                    </div>
                </div>
                <span>
                  
                        <img src="{{ url_for('static', filename='icons/arrow_right.svg') }}"
                             alt="arrow right"
                             height=""
                             width="" />
                
                </span>
            </header>
            </a>
        {% endif %}
        <div x-data="{is_in: $store.user.isSignedIn}"
             class="flex mt-3 flex-col gap-y-3 font-semibold w-full bg-white rounded-lg shadow">
            {% for link in user_nav_links %}

                {% if link.is_protected and current_user.is_anonymous %}

                {% else %}
                    {{ sidebar_link(name=link.name,
                                    is_protected=link.is_protected,
                                    link=link.link) }}
                {% endif %}

            {% endfor %}
        </div>
        <div x-data class="flex flex-col gap-y-4 mt-12">

            {% set button_style = "rounded-lg border-0 text-base 0 active:opactiy-100 focus:outline-0  w-full font-semibold  grid place-content-center md:w-1/2 py-3 hover:bg-[#8B4413] active:bg-[#8B4513] transition-colors" %}

            {% if current_user.is_anonymous %}
                <a href="/register" class="{{ button_style }} bg-[#8B4513] text-white">
                    Register
                </a>

                <a href="/login"
                   class="{{ button_style }} border-1 border-[#8B4513] text-[#8B4513]">
                    Login
                </a>

            {% else %}
                <a href="/logout"
                   class="{{ button_style }} border-1 bg-[#8B4513] text-white">
                    Logout
                </a>

            {% endif %}

        </div>
    </div>
</aside>
