{% macro testimony(name, state, firstLetter, review) %}
    <article class="bg-fdt-grey-light-hover my-2 p-4 duration-700 ease-in-out flex flex-col justify-between min-w-[270px] w-4/5 aspect-[0.72] rounded-md shadow-md  shadow-gray-300">
        <header class="flex justify-between items-center">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="40"
                 height="34"
                 viewBox="0 0 40 34"
                 fill="none">
                <path d="M40 0.5V6.44313C36.7347 6.96445 34.449 8.05924 33.1429 9.72749C31.8367 11.3957 31.1837 14.3673 31.1837 18.6422H39.5102V33.5H23.5102V20.9882C23.5102 14.5237 24.7619 9.51896 27.2653 5.97393C29.7687 2.32464 34.0136 0.5 40 0.5ZM16.4898 0.5V6.44313C13.2245 6.96445 10.9388 8.05924 9.63265 9.72749C8.32653 11.3957 7.67347 14.3673 7.67347 18.6422H16V33.5H0V20.9882C0 14.5237 1.2517 9.51896 3.7551 5.97393C6.2585 2.32464 10.5034 0.5 16.4898 0.5Z" fill="#939393" />
            </svg>

            <div class="flex items-center gap-4 font-Roboto font-medium">
                <p class="uppercase relative font-medium  bg-[#F2DDB1] text-black text-base rounded-full w-8 h-8 grid place-content-center">
                    {{firstLetter}}
                </p>
                <p class="text-fdt-grey-darker">
                    {{name}}
                </p>
            </div>
        </header>

        <p class="text-sm leading-6 text-fdt-grey-darker">
            {{review}}
        </p>

        <p class="text-sm text-fdt-grey-dark">
            {{state}}
        </p>
    </article>
{% endmacro %}



<section class="px-6 py-6 flex flex-col gap-6 justify-between border-1 border-red-600">

    <h1 class="text-fdt-brown-dark text-2xl leading-9 capitalize font-montserrat">
        Our happy clients
    </h1>

    <div class="flex gap-5 w-full overflow-x-scroll no-scrollbar">

            {{testimony(
                "Fatima A",
                "Abuja",
                "O",
                "I'm impressed by the level of personalization offered.
                 My native attire was tailored to perfection, capturing 
                 the essence of Nigerian tradition with a modern twist.
                 The communication throughout the process was excellent.
                 I'll definitely be a repeat customer"
            )}}

            {{testimony(
                "Ndikani C",
                "Benin",
                "O",
                "I'm impressed by the level of personalization offered.
                 My native attire was tailored to perfection, capturing 
                 the essence of Nigerian tradition with a modern twist.
                 The communication throughout the process was excellent.
                 I'll definitely be a repeat customer."
            )}}

            {{testimony(
                "Fatima A",
                "Abuja",
                "O",
                "I'm impressed by the level of personalization offered.
                 My native attire was tailored to perfection, capturing 
                 the essence of Nigerian tradition with a modern twist.
                 The communication throughout the process was excellent.
                 I'll definitely be a repeat customer."
            )}}

    </div>
</section>
